# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Flask / DB
instance/
migrations/versions/__pycache__/

# Node (later)
node_modules/
dist/

# IDE
.idea/
.vscode/

backend/get_token.py
backend/client_secrets.json
backend/google-ads.yaml
backend/.env
